@import "https://fonts.googleapis.com/css?family=Pathway+Gothic+One";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html {
  font-size: 62.5%;
  font-family: 'Pathway Gothic One', sans-serif; }

.noto {
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100; }

header {
  background-image: url(../images/title_pc/pc_header.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative; }
  header .title {
    height: 54vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60vw; }
    header .title img {
      bottom: 0;
      position: absolute;
      width: 60vw; }
  header a {
    display: block;
    position: absolute;
    margin-top: calc(100vh - 100px);
    margin-left: calc(50% - 32px);
    animation: moveY 2s infinite alternate linear;
    -ms-animation: moveY 2s infinite alternate linear;
    -webkit-animation: moveY 2s infinite alternate linear;
    -moz-animation: moveY 2s infinite alternate linear; }

@keyframes moveY {
  0% {
    top: 0px; }
  50% {
    top: 20px; }
  100% {
    top: 0px; } }
@-ms-keyframes moveY {
  0% {
    top: 0px; }
  50% {
    top: 15px; }
  100% {
    top: 0px; } }
@-webkit-keyframes moveY /* Safari and Chrome */ {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@-moz-keyframes moveY /* Firefox */ {
  0% {
    top: 0px; }
  50% {
    top: 15px; }
  100% {
    top: 0px; } }
.introduction {
  background-color: #fafafa;
  height: 100vh;
  display: block;
  position: relative; }
  .introduction .container h1 {
    font-size: 6.8rem;
    padding: 35px;
    text-align: center;
    letter-spacing: 5px; }
  .introduction .container p.concept {
    font-size: 3.5vh;
    line-height: 8vh;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 28px; }
  .introduction .container p.capture {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px; }
  .introduction .container p.tsubasa {
    margin-top: 35px;
    margin-left: calc(50% + 250px); }
    .introduction .container p.tsubasa svg .path1 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 1s linear forwards;
      animation: dash 1s linear forwards; }
    .introduction .container p.tsubasa svg .path2 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s; }
    .introduction .container p.tsubasa svg .path3 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s; }
    .introduction .container p.tsubasa svg .path4 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 0.8s;
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s; }
    .introduction .container p.tsubasa svg .path5 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s; }
    .introduction .container p.tsubasa svg .path6 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 1.3s;
      -webkit-animation-delay: 1.3s;
      -moz-animation-delay: 1.3s; }
    .introduction .container p.tsubasa svg .path7 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 1.9s;
      -webkit-animation-delay: 1.9s;
      -moz-animation-delay: 1.9s; }
    .introduction .container p.tsubasa svg .path8 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 2.2s;
      -webkit-animation-delay: 2.2s;
      -moz-animation-delay: 2.2s; }
    .introduction .container p.tsubasa svg .path9 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 2.5s;
      -webkit-animation-delay: 2.5s;
      -moz-animation-delay: 2.5s; }
    .introduction .container p.tsubasa svg .path10 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 2.8s;
      -webkit-animation-delay: 2.8s;
      -moz-animation-delay: 2.8s; }
    .introduction .container p.tsubasa svg .path11 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 3s;
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s; }
    .introduction .container p.tsubasa svg .path12 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 5s linear forwards;
      animation: dash 5s linear forwards;
      animation-delay: 3.3s;
      -webkit-animation-delay: 3.3s;
      -moz-animation-delay: 3.3s; }
    .introduction .container p.tsubasa svg .path13 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 3.7s;
      -webkit-animation-delay: 3.7s;
      -moz-animation-delay: 3.7s; }
    .introduction .container p.tsubasa svg .path14 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 3.9s;
      -webkit-animation-delay: 3.9s;
      -moz-animation-delay: 3.9s; }
    .introduction .container p.tsubasa svg .path15 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 4s;
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s; }
    .introduction .container p.tsubasa svg .path16 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 4.2s;
      -webkit-animation-delay: 4.2s;
      -moz-animation-delay: 4.2s; }
    .introduction .container p.tsubasa svg .path17 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 4.5s;
      -webkit-animation-delay: 4.5s;
      -moz-animation-delay: 4.5s; }
    .introduction .container p.tsubasa svg .path18 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 5s linear forwards;
      animation: dash 5s linear forwards;
      animation-delay: 4.7s;
      -webkit-animation-delay: 4.7s;
      -moz-animation-delay: 4.7s; }
    .introduction .container p.tsubasa svg .path19 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 5s;
      -webkit-animation-delay: 5s;
      -moz-animation-delay: 5s; }
    .introduction .container p.tsubasa svg .path20 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 5.3s;
      -webkit-animation-delay: 5.3s;
      -moz-animation-delay: 5.3s; }
    .introduction .container p.tsubasa svg .path21 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 5.6s;
      -webkit-animation-delay: 5.6s;
      -moz-animation-delay: 5.6s; }
    .introduction .container p.tsubasa svg .path22 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 5.8s;
      -webkit-animation-delay: 5.8s;
      -moz-animation-delay: 5.8s; }
    .introduction .container p.tsubasa svg .path23 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 6s;
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s; }
    .introduction .container p.tsubasa svg .path24 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 6.3s;
      -webkit-animation-delay: 6.3s;
      -moz-animation-delay: 6.3s; }
    .introduction .container p.tsubasa svg .path25 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 6.5s;
      -webkit-animation-delay: 6.5s;
      -moz-animation-delay: 6.5s; }
    .introduction .container p.tsubasa svg .path26 {
      stroke: #000;
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      -webkit-animation: dash 7s linear forwards;
      animation: dash 7s linear forwards;
      animation-delay: 6.8s;
      -webkit-animation-delay: 6.8s;
      -moz-animation-delay: 6.8s; }
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
  .introduction .container .menu {
    z-index: 10;
    background-color: #fafafa;
    position: absolute;
    top: 87vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px; }
    .introduction .container .menu ul {
      text-align: center; }
      .introduction .container .menu ul li {
        letter-spacing: 4px;
        display: inline-block;
        font-size: 2.3vw;
        border-right: 1px solid black; }
        .introduction .container .menu ul li a {
          text-decoration: none;
          color: black;
          padding-right: 2vw;
          padding-left: 2vw;
          display: inline-block; }
        .introduction .container .menu ul li a:hover {
          color: #847b66;
          -webkit-animation: zoom .3s;
          animation: zoom .3s; }
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05); } }
@keyframes zoom {
  50% {
    transform: scale(1.05); } }
      .introduction .container .menu ul li:last-child {
        border-right: none; }

.introduction .container .menu.follow {
  position: fixed;
  top: 0; }

.spring_background {
  padding-top: 56px;
  margin-top: -56px; }
  .spring_background .spring_title {
    background-image: url(../images/background/spring_background1.jpg);
    background-size: cover;
    background-position: center center;
    height: 45vh;
    background-attachment: fixed; }
    .spring_background .spring_title h1 {
      padding-top: 16vh;
      text-align: center;
      font-size: 9.3rem;
      letter-spacing: 15px;
      font-weight: lighter;
      opacity: 0.9; }

.spring .spring-wrapper {
  padding: 70px;
  padding-bottom: 100px;
  box-sizing: border-box; }
  .spring .spring-wrapper .photos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; }
    .spring .spring-wrapper .photos .photo {
      box-sizing: border-box;
      width: 33.33333%;
      margin-bottom: 58px;
      padding: 0px 43px 5px 43px; }
      .spring .spring-wrapper .photos .photo a {
        outline: none; }
        .spring .spring-wrapper .photos .photo a .pic {
          position: relative; }
          .spring .spring-wrapper .photos .photo a .pic img {
            width: 100%;
            height: 100%; }
          .spring .spring-wrapper .photos .photo a .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 1.3vw;
            text-align: left;
            box-sizing: border-box; }
            .spring .spring-wrapper .photos .photo a .pic .caption h2 {
              font-size: 4.5vw;
              letter-spacing: 2.5px; }
            .spring .spring-wrapper .photos .photo a .pic .caption h3 {
              font-size: 1.8vw;
              letter-spacing: 2px;
              margin-top: 5px; }
              .spring .spring-wrapper .photos .photo a .pic .caption h3 span {
                font-size: 1.5vw; }
            .spring .spring-wrapper .photos .photo a .pic .caption p {
              font-size: 1.2vw;
              padding-top: 0.7vw;
              line-height: 1.5; }
        .spring .spring-wrapper .photos .photo a .pic:hover .caption {
          opacity: 1; }
  .spring .spring-wrapper .show_more {
    text-align: center; }
    .spring .spring-wrapper .show_more a {
      color: black;
      font-size: 3.5rem;
      font-weight: lighter; }
    .spring .spring-wrapper .show_more a:hover {
      color: #847b66; }

.summer_background {
  padding-top: 48px;
  margin-top: -48px; }
  .summer_background .summer_title {
    background-image: url(../images/background/summer_background2.jpg);
    background-size: cover;
    background-position: center center;
    height: 45vh;
    background-attachment: fixed; }
    .summer_background .summer_title h1 {
      padding-top: 17vh;
      text-align: center;
      font-size: 9.3rem;
      letter-spacing: 15px;
      font-weight: lighter;
      opacity: 0.9; }

.summer .summer-wrapper {
  padding: 70px;
  padding-bottom: 100px;
  box-sizing: border-box; }
  .summer .summer-wrapper .photos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; }
    .summer .summer-wrapper .photos .photo2 {
      box-sizing: border-box;
      width: 33.33333%;
      margin-bottom: 58px;
      padding: 0px 43px 5px 43px; }
      .summer .summer-wrapper .photos .photo2 a {
        outline: none; }
        .summer .summer-wrapper .photos .photo2 a .pic {
          position: relative; }
          .summer .summer-wrapper .photos .photo2 a .pic img {
            width: 100%;
            height: 100%; }
          .summer .summer-wrapper .photos .photo2 a .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 1.3vw;
            text-align: left;
            box-sizing: border-box; }
            .summer .summer-wrapper .photos .photo2 a .pic .caption h2 {
              font-size: 4.5vw;
              letter-spacing: 2.5px; }
              .summer .summer-wrapper .photos .photo2 a .pic .caption h2 span {
                font-size: 3.8vw; }
            .summer .summer-wrapper .photos .photo2 a .pic .caption h3 {
              font-size: 1.8vw;
              letter-spacing: 2px;
              margin-top: 5px; }
              .summer .summer-wrapper .photos .photo2 a .pic .caption h3 span {
                font-size: 1.5vw; }
            .summer .summer-wrapper .photos .photo2 a .pic .caption p {
              font-size: 1.2vw;
              padding-top: 0.7vw;
              line-height: 1.5; }
        .summer .summer-wrapper .photos .photo2 a .pic:hover .caption {
          opacity: 1; }
  .summer .summer-wrapper .show_more {
    text-align: center; }
    .summer .summer-wrapper .show_more a {
      color: black;
      font-size: 3.5rem;
      font-weight: lighter; }
    .summer .summer-wrapper .show_more a:hover {
      color: #847b66; }

.autumn_background {
  padding-top: 48px;
  margin-top: -48px; }
  .autumn_background .autumn_title {
    background-image: url(../images/background/autumn_background3.jpg);
    background-size: cover;
    background-position: center center;
    height: 45vh;
    background-attachment: fixed; }
    .autumn_background .autumn_title h1 {
      padding-top: 17vh;
      text-align: center;
      font-size: 9.3rem;
      letter-spacing: 15px;
      font-weight: lighter;
      opacity: 0.9; }

.autumn .autumn-wrapper {
  padding: 70px;
  padding-bottom: 100px;
  box-sizing: border-box; }
  .autumn .autumn-wrapper .photos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; }
    .autumn .autumn-wrapper .photos .photo3 {
      box-sizing: border-box;
      width: 33.33333%;
      margin-bottom: 58px;
      padding: 0px 43px 5px 43px; }
      .autumn .autumn-wrapper .photos .photo3 a {
        outline: none; }
        .autumn .autumn-wrapper .photos .photo3 a .pic {
          position: relative; }
          .autumn .autumn-wrapper .photos .photo3 a .pic img {
            width: 100%;
            height: 100%; }
          .autumn .autumn-wrapper .photos .photo3 a .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 1.3vw;
            text-align: left;
            box-sizing: border-box; }
            .autumn .autumn-wrapper .photos .photo3 a .pic .caption h2 {
              font-size: 4.5vw;
              letter-spacing: 2.5px; }
              .autumn .autumn-wrapper .photos .photo3 a .pic .caption h2 span {
                font-size: 3.8vw; }
            .autumn .autumn-wrapper .photos .photo3 a .pic .caption h3 {
              font-size: 1.8vw;
              letter-spacing: 2px;
              margin-top: 5px; }
              .autumn .autumn-wrapper .photos .photo3 a .pic .caption h3 span {
                font-size: 1.5vw; }
            .autumn .autumn-wrapper .photos .photo3 a .pic .caption p {
              font-size: 1.2vw;
              padding-top: 0.7vw;
              line-height: 1.5; }
        .autumn .autumn-wrapper .photos .photo3 a .pic:hover .caption {
          opacity: 1; }
  .autumn .autumn-wrapper .show_more {
    text-align: center; }
    .autumn .autumn-wrapper .show_more a {
      color: black;
      font-size: 3.5rem;
      font-weight: lighter; }
    .autumn .autumn-wrapper .show_more a:hover {
      color: #847b66; }

.winter_background {
  padding-top: 48px;
  margin-top: -48px; }
  .winter_background .winter_title {
    background-image: url(../images/background/winter_background4.jpg);
    background-size: cover;
    background-position: center center;
    height: 45vh;
    background-attachment: fixed; }
    .winter_background .winter_title h1 {
      padding-top: 17vh;
      text-align: center;
      font-size: 9.3rem;
      letter-spacing: 15px;
      font-weight: lighter;
      opacity: 0.9; }

.winter .winter-wrapper {
  padding: 70px;
  padding-bottom: 100px;
  box-sizing: border-box; }
  .winter .winter-wrapper .photos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; }
    .winter .winter-wrapper .photos .photo4 {
      box-sizing: border-box;
      width: 33.33333%;
      margin-bottom: 58px;
      padding: 0px 43px 5px 43px; }
      .winter .winter-wrapper .photos .photo4 a {
        outline: none; }
        .winter .winter-wrapper .photos .photo4 a .pic {
          position: relative; }
          .winter .winter-wrapper .photos .photo4 a .pic img {
            width: 100%;
            height: 100%; }
          .winter .winter-wrapper .photos .photo4 a .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 1.3vw;
            text-align: left;
            box-sizing: border-box; }
            .winter .winter-wrapper .photos .photo4 a .pic .caption h2 {
              font-size: 4.5vw;
              letter-spacing: 2.5px; }
              .winter .winter-wrapper .photos .photo4 a .pic .caption h2 span {
                font-size: 3.8vw; }
            .winter .winter-wrapper .photos .photo4 a .pic .caption h3 {
              font-size: 1.8vw;
              letter-spacing: 2px;
              margin-top: 5px; }
              .winter .winter-wrapper .photos .photo4 a .pic .caption h3 span {
                font-size: 1.5vw; }
            .winter .winter-wrapper .photos .photo4 a .pic .caption p {
              font-size: 1.2vw;
              padding-top: 0.7vw;
              line-height: 1.5; }
        .winter .winter-wrapper .photos .photo4 a .pic:hover .caption {
          opacity: 1; }
  .winter .winter-wrapper .show_more {
    text-align: center; }
    .winter .winter-wrapper .show_more a {
      color: black;
      font-size: 3.5rem;
      font-weight: lighter; }
    .winter .winter-wrapper .show_more a:hover {
      color: #847b66; }

.about_me_background {
  margin-top: -48px;
  padding-top: 48px;
  margin-bottom: 30px; }
  .about_me_background .about_me_title {
    background-image: url(../images/background/about_me_background.jpg);
    background-size: cover;
    background-position: center center;
    height: 45vh;
    background-attachment: fixed; }
    .about_me_background .about_me_title h1 {
      padding-top: 17vh;
      text-align: center;
      font-size: 9.3rem;
      letter-spacing: 15px;
      font-weight: lighter; }

.about_me {
  margin-bottom: 40px; }
  .about_me .about_me_wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center; }
    .about_me .about_me_wrapper .content h2 {
      font-size: 2.7rem;
      padding-bottom: 20px; }
    .about_me .about_me_wrapper .content p {
      word-wrap: break-word;
      font-size: 1.6rem;
      line-height: 2; }
  .about_me .social ul {
    text-align: center; }
    .about_me .social ul li {
      margin-right: 50px;
      display: inline-block; }
      .about_me .social ul li a {
        text-decoration: none;
        color: black;
        font-size: 3.2rem;
        display: inline-block; }
      .about_me .social ul li a:hover {
        color: #847b66;
        -webkit-animation: zoom .3s;
        animation: zoom .3s; }
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05); } }
@keyframes zoom {
  50% {
    transform: scale(1.05); } }
    .about_me .social ul li:last-child {
      margin-right: 0; }

footer {
  padding: 10px;
  text-align: center; }
  footer small {
    font-size: 1.3rem; }

/*# sourceMappingURL=style.css.map */
