@import "https://fonts.googleapis.com/css?family=Pathway+Gothic+One";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html {
  font-size: 62.5%;
  font-family: 'Pathway Gothic One', sans-serif; }

.noto {
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100; }

header {
  background-image: url(../images/title_pc/pc_header.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative; }
  header .title {
    height: 54vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60vw; }
    header .title img {
      bottom: 0;
      position: absolute;
      width: 60vw; }
  header a {
    display: block;
    position: absolute;
    margin-top: calc(100vh - 100px);
    margin-left: calc(50% - 32px);
    animation: moveY 2s infinite alternate linear;
    -ms-animation: moveY 2s infinite alternate linear;
    -webkit-animation: moveY 2s infinite alternate linear;
    -moz-animation: moveY 2s infinite alternate linear; }

@keyframes moveY {
  0% {
    top: 0px; }
  50% {
    top: 20px; }
  100% {
    top: 0px; } }
@-ms-keyframes moveY {
  0% {
    top: 0px; }
  50% {
    top: 15px; }
  100% {
    top: 0px; } }
@-webkit-keyframes moveY /* Safari and Chrome */ {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@-moz-keyframes moveY /* Firefox */ {
  0% {
    top: 0px; }
  50% {
    top: 15px; }
  100% {
    top: 0px; } }
.introduction {
  background-color: #fafafa;
  height: 100vh;
  display: block;
  position: relative; }
  .introduction h1 {
    font-size: 6.8rem;
    padding: 35px;
    text-align: center;
    letter-spacing: 5px; }
  .introduction p.concept {
    font-size: 2.2rem;
    line-height: 2.8;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 28px; }
  .introduction p.capture {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px; }
  .introduction p.tsubasa {
    margin-top: 10px;
    margin-left: calc(50% + 250px); }
    .introduction p.tsubasa img {
      padding: 10px; }
  .introduction .menu {
    z-index: 10;
    background-color: #fafafa;
    position: absolute;
    top: 87vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px; }
    .introduction .menu ul {
      text-align: center; }
      .introduction .menu ul li {
        letter-spacing: 4px;
        display: inline-block;
        font-size: 4rem;
        border-right: 1px solid black; }
        .introduction .menu ul li a {
          text-decoration: none;
          color: black;
          padding-right: 20px;
          padding-left: 20px;
          display: inline-block; }
        .introduction .menu ul li a:hover {
          color: #847b66;
          -webkit-animation: zoom .3s;
          animation: zoom .3s; }
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05); } }
@keyframes zoom {
  50% {
    transform: scale(1.05); } }
      .introduction .menu ul li:last-child {
        border-right: none; }

.introduction .follow {
  position: fixed;
  top: 0; }

.spring {
  padding-top: 80px;
  margin-top: -80px; }
  .spring .spring-wrapper {
    padding: 70px;
    padding-bottom: 40px; }
    .spring .spring-wrapper h1 {
      margin-top: -50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 8.3rem;
      letter-spacing: 7px;
      font-weight: lighter; }
      .spring .spring-wrapper h1 span {
        color: #e9acdf; }
    .spring .spring-wrapper .gallery .photos {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; }
      .spring .spring-wrapper .gallery .photos .photo {
        box-sizing: border-box;
        width: 33.33333%;
        margin-bottom: 80px;
        padding: 5px 45px 5px 45px; }
        .spring .spring-wrapper .gallery .photos .photo .pic {
          position: relative; }
          .spring .spring-wrapper .gallery .photos .photo .pic img {
            width: 100%; }
          .spring .spring-wrapper .gallery .photos .photo .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 40px;
            box-sizing: border-box; }
            .spring .spring-wrapper .gallery .photos .photo .pic .caption h2 {
              font-size: 5.5rem;
              letter-spacing: 2.5px; }
            .spring .spring-wrapper .gallery .photos .photo .pic .caption h3 {
              font-size: 2rem;
              letter-spacing: 2px;
              margin-top: 5px; }
            .spring .spring-wrapper .gallery .photos .photo .pic .caption p {
              font-size: 1.7rem;
              padding-top: 10px;
              line-height: 1.4; }
        .spring .spring-wrapper .gallery .photos .photo .pic:hover .caption {
          opacity: 1; }
    .spring .spring-wrapper a {
      color: black;
      display: block;
      text-align: center;
      font-size: 3.5rem;
      font-weight: lighter; }
    .spring .spring-wrapper a:hover {
      color: #847b66; }

.summer {
  padding-top: 80px;
  margin-top: -80px; }
  .summer .summer-wrapper {
    padding: 70px;
    padding-bottom: 40px; }
    .summer .summer-wrapper h1 {
      margin-top: -50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 8.3rem;
      letter-spacing: 7px;
      font-weight: lighter; }
      .summer .summer-wrapper h1 span {
        color: #efad6f; }
    .summer .summer-wrapper .gallery .photos {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; }
      .summer .summer-wrapper .gallery .photos .photo {
        box-sizing: border-box;
        width: 33.33333%;
        margin-bottom: 80px;
        padding: 5px 45px 5px 45px; }
        .summer .summer-wrapper .gallery .photos .photo .pic {
          position: relative; }
          .summer .summer-wrapper .gallery .photos .photo .pic img {
            width: 100%; }
          .summer .summer-wrapper .gallery .photos .photo .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 40px;
            box-sizing: border-box; }
            .summer .summer-wrapper .gallery .photos .photo .pic .caption h2 {
              font-size: 5.5rem;
              letter-spacing: 2.5px; }
            .summer .summer-wrapper .gallery .photos .photo .pic .caption h3 {
              font-size: 2rem;
              letter-spacing: 2px;
              margin-top: 5px; }
            .summer .summer-wrapper .gallery .photos .photo .pic .caption p {
              font-size: 1.7rem;
              padding-top: 10px;
              line-height: 1.4; }
        .summer .summer-wrapper .gallery .photos .photo .pic:hover .caption {
          opacity: 1; }
    .summer .summer-wrapper a {
      color: black;
      display: block;
      text-align: center;
      font-size: 3.5rem;
      font-weight: lighter; }
    .summer .summer-wrapper a:hover {
      color: #847b66; }

.autumn {
  padding-top: 80px;
  margin-top: -80px; }
  .autumn .autumn-wrapper {
    padding: 70px;
    padding-bottom: 40px; }
    .autumn .autumn-wrapper h1 {
      margin-top: -50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 8.3rem;
      letter-spacing: 7px;
      font-weight: lighter; }
      .autumn .autumn-wrapper h1 span {
        color: #d78383; }
    .autumn .autumn-wrapper .gallery .photos {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; }
      .autumn .autumn-wrapper .gallery .photos .photo {
        box-sizing: border-box;
        width: 33.33333%;
        margin-bottom: 80px;
        padding: 5px 45px 5px 45px; }
        .autumn .autumn-wrapper .gallery .photos .photo .pic {
          position: relative; }
          .autumn .autumn-wrapper .gallery .photos .photo .pic img {
            width: 100%; }
          .autumn .autumn-wrapper .gallery .photos .photo .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 40px;
            box-sizing: border-box; }
            .autumn .autumn-wrapper .gallery .photos .photo .pic .caption h2 {
              font-size: 5.5rem;
              letter-spacing: 2.5px; }
            .autumn .autumn-wrapper .gallery .photos .photo .pic .caption h3 {
              font-size: 2rem;
              letter-spacing: 2px;
              margin-top: 5px; }
            .autumn .autumn-wrapper .gallery .photos .photo .pic .caption p {
              font-size: 1.7rem;
              padding-top: 10px;
              line-height: 1.4; }
        .autumn .autumn-wrapper .gallery .photos .photo .pic:hover .caption {
          opacity: 1; }
    .autumn .autumn-wrapper a {
      color: black;
      display: block;
      text-align: center;
      font-size: 3.5rem;
      font-weight: lighter; }
    .autumn .autumn-wrapper a:hover {
      color: #847b66; }

.winter {
  padding-top: 80px;
  margin-top: -80px; }
  .winter .winter-wrapper {
    padding: 70px;
    padding-bottom: 40px; }
    .winter .winter-wrapper h1 {
      margin-top: -50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 8.3rem;
      letter-spacing: 7px;
      font-weight: lighter; }
      .winter .winter-wrapper h1 span {
        color: #8cb8dd; }
    .winter .winter-wrapper .gallery .photos {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; }
      .winter .winter-wrapper .gallery .photos .photo {
        box-sizing: border-box;
        width: 33.33333%;
        margin-bottom: 80px;
        padding: 5px 45px 5px 45px; }
        .winter .winter-wrapper .gallery .photos .photo .pic {
          position: relative; }
          .winter .winter-wrapper .gallery .photos .photo .pic img {
            width: 100%; }
          .winter .winter-wrapper .gallery .photos .photo .pic .caption {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 0;
            padding: 40px;
            box-sizing: border-box; }
            .winter .winter-wrapper .gallery .photos .photo .pic .caption h2 {
              font-size: 5.5rem;
              letter-spacing: 2.5px; }
            .winter .winter-wrapper .gallery .photos .photo .pic .caption h3 {
              font-size: 2rem;
              letter-spacing: 2px;
              margin-top: 5px; }
            .winter .winter-wrapper .gallery .photos .photo .pic .caption p {
              font-size: 1.7rem;
              padding-top: 10px;
              line-height: 1.4; }
        .winter .winter-wrapper .gallery .photos .photo .pic:hover .caption {
          opacity: 1; }
    .winter .winter-wrapper a {
      color: black;
      display: block;
      text-align: center;
      font-size: 3.5rem;
      font-weight: lighter; }
    .winter .winter-wrapper a:hover {
      color: #847b66; }

.about_me {
  padding-top: 180px;
  margin-top: -100px;
  margin-bottom: 40px; }
  .about_me .about_me_wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px; }
    .about_me .about_me_wrapper h1 {
      margin-top: -50px;
      margin-bottom: 70px;
      text-align: center;
      font-size: 8.3rem;
      letter-spacing: 7px;
      font-weight: lighter; }
    .about_me .about_me_wrapper .flex {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row; }
      .about_me .about_me_wrapper .flex img {
        margin-right: 50px; }
      .about_me .about_me_wrapper .flex .content h2 {
        font-size: 3.5rem;
        padding-bottom: 20px; }
      .about_me .about_me_wrapper .flex .content p {
        word-wrap: break-word;
        font-size: 1.8rem;
        line-height: 1.8; }
  .about_me .social {
    margin-top: 20px; }
    .about_me .social ul {
      text-align: center; }
      .about_me .social ul li {
        margin-right: 50px;
        display: inline-block; }
        .about_me .social ul li a {
          text-decoration: none;
          color: black;
          font-size: 4rem; }
        .about_me .social ul li a:hover {
          color: #847b66; }
      .about_me .social ul li:last-child {
        margin-right: 0; }

footer {
  padding: 10px;
  text-align: center; }
  footer small {
    font-size: 1.3rem; }

/*# sourceMappingURL=style.css.map */
